index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <title> DigitalBrand | Soluciones creativas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robotos" content="index,follow">
    <meta property="fb:app_id" content="">
    <meta name="description" content="Empresa dedicada a la producción de branding y merchadising">
    <meta name="keywords" content="Branding, Merchandinsing, lanyard, bolsas ecológicas, creatividad, produsctos personalizados">
    <link rel="icon" href="public/img/isotipo.png" sizes="96x96">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?9ukd8d">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="public/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/css/styles.css?update5">
  </head>
  <body>
    <header>
      <div class="header__contenedor container">
        <h1 class="header__contenedor--logotipo"><a href="index.html">DigitalBrand</a></h1>
        <div class="header__contenedor--icono" id="icon">
          <div class="icon-element"></div>
          <div class="icon-element"></div>
          <div class="icon-element"></div>
        </div>
        <nav id="nav">
          <ul class="nav__lista">
            <li class="nav__lista--item"><a class="item__link" href="#inicio">Inicio</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#about">Nosotros</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#product">Productos</a></li>
            <li class="nav__lista--item"><a class="item__link" href="#contact">Contáctanos</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner" id="banner">
      <div class="banner__container container"><img class="banner__calado calado-1" src="public/img/banner/img-1.png" alt="lanyard">
        <div class="banner__img"></div>
        <div class="banner__info">
          <h2 class="banner__title">Soluciones creativas</h2>
          <div class="banner__franja">
            <p class="description">Entendemos la importancia de reflejar la marca mediante el uso correcto del branding y sus aplicaciones.</p>
            <div class="button_container"><a class="button hover-btn second-color" href="#about">Conócenos</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="about" id="about">
      <div class="about__container container">
        <div class="about__header">
          <h2 class="about__title">Productos personalizados a tu medida con calidad</h2>
          <p class="description">Producimos productos efectivos para posicionar tu marca, nos gusta prestar atención en los pequeños detalles de cada uno de nuestros productos con diseños innovadores.</p>
        </div>
        <div class="about__img"></div>
        <div class="about__carrousel">
          <div class="row wow fadeInUp container">
            <div class="large-12 columns">
              <div class="owl-carousel owl-carousel1 owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                  <div class="owl-stage">
                    <div class="owl-item">
                      <div class="item"><img src="public/img/about/carrusel-1.jpg" alt="Lanyard">
                        <!--
                        h4 Primer modelo
                        p.description Lorem ipsum dolor sit amet.
                        -->
                      </div>
                    </div>
                    <div class="owl-item">
                      <div class="item"><img src="public/img/about/carrusel-4.jpg" alt="Lanyard">
                        <!--
                        h4 Segundo modelo
                        p.description Lorem ipsum dolor sit amet.
                        -->
                      </div>
                    </div>
                    <div class="owl-item">
                      <div class="item"><img src="public/img/about/carrusel-3.jpg" alt="Lanyard">
                        <!--
                        h4 Tercer modelo
                        p.description Lorem ipsum dolor sit amet.
                        -->
                      </div>
                    </div>
                    <div class="owl-item">
                      <div class="item"><img src="public/img/about/carrusel-2.jpg" alt="Lanyard">
                        <!--
                        h4 Cuarto modelo
                        p.description Lorem ipsum dolor sit amet.
                        -->
                      </div>
                    </div>
                    <div class="owl-item">
                      <div class="item"><img src="public/img/about/carrusel-5.jpg" alt="Lanyard">
                        <!--
                        h4 Quinto modelo
                        p.description Lorem ipsum dolor sit amet.
                        
                        -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product" id="product">
      <div class="product__container container">
        <div class="product__header">
          <h2 class="product__title">Creamos un excelente empaque</h2>
          <p class="description">Diferenciate de tu competencia, dale valor a tu marca como las grandes empresas, transmite prestigio y calidad mediante productos que acompañen a tu cliente durante el día a día.</p>
          <div class="button_container"><a class="button hover-btn first-color" href="#contact">Contáctanos</a></div>
        </div>
        <div class="product__img">
          <div class="row wow fadeInUp container">
            <div class="large-12 columns">
              <div class="owl-carousel owl-carousel2 owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                  <div class="owl-stage">
                    <div class="owl-item">
                      <div class="item"><img src="public/img/bolsa/product-1.png" alt="img-1"></div>
                    </div>
                    <div class="owl-item">
                      <div class="item"><img src="public/img/bolsa/product-1.png" alt="img-1"></div>
                    </div>
                    <div class="owl-item">
                      <div class="item"><img src="public/img/bolsa/product-1.png" alt="img-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="contact" id="contact">
      <div class="contact__container container">
        <div class="contact__main">
          <div class="contact__header">
            <h2 class="contact__title">Contáctanos</h2>
            <p class="description">Comienza a llevar a tu marcal al siguiente nivel</p>
          </div>
          <form class="contact__form">
            <input type="text" name="nombre" placeholder="Nombre y Apellido">
            <input type="email" name="nombre" placeholder="Correo Electrónico">
            <input type="text" name="nombre" placeholder="Celular">
            <textarea placeholder="Cuéntanos tu consulta"></textarea>
            <div class="button_container"><a class="button hover-btn first-color" href="index.html">Contáctanos</a></div>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer__contenedor container">
        <div class="footer__contenedor--informacion"><a class="logotipo" href="#inicio"><img src="public/img/logotipo.svg" alt="Logotipo"></a>
          <ul class="informacion__lista">
            <li class="informacion__lista--item"><a href="#banner">Inicio</a></li>
            <li class="informacion__lista--item"><a href="#about">Nosotros</a></li>
            <li class="informacion__lista--item"><a href="#product">Productos</a></li>
            <li class="informacion__lista--item"><a href="#contact">Contáctanos</a></li>
          </ul>
        </div>
        <div class="footer__contenedor--informacion">
          <p class="informacion__copy description">Copyright © Todos los Derechos Reservados</p>
          <p class="informacion__desarrollo description">Desarrollado por:<a href="https://chilcanoweb.com/" target="_blank" rel="nofollow noopener">Chilcanoweb</a></p>
        </div>
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="public/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script>
      $('.owl-carousel2').owlCarousel({
          loop:true,
          margin:10,
          autoplay: true,
          nav: false,
          responsiveClass:true,
          responsive:{
               0:{
               items:1
               }
           }
       })
      
    </script>
    <script>
      $('.owl-carousel1').owlCarousel({
          loop:true,
          margin:10,
          autoplay: true,
          nav: false,
          responsiveClass:true,
          responsive:{
          0:{
          items:1
          },
          600:{
          items:2
          },
          900:{
          items:3
          }
           }
       })
    </script>
  </body>
</html>

src/pug/pages/index.pug
extends ../config/template
append config
    - NombPagina = "Soluciones creativas"
prepend styles
block contenido

    //-- B A N N E R
    //--------------
    .banner#banner
        .banner__container.container
            img(class='banner__calado calado-1' src='public/img/banner/img-1.png' alt='lanyard')
            .banner__img
            .banner__info
                h2.banner__title Soluciones creativas
                .banner__franja
                    p.description Entendemos la importancia de reflejar la marca mediante el uso correcto del branding y sus aplicaciones.
                    +button(
                        'second-color',
                        '#about',
                        'Conócenos'
                    )
    
    //-- A B O U T
    //--------------
    .about#about
        .about__container.container
            .about__header
                h2.about__title Productos personalizados a tu medida con calidad
                p.description Producimos productos efectivos para posicionar tu marca, nos gusta prestar atención en los pequeños detalles de cada uno de nuestros productos con diseños innovadores.
            
            .about__img
            
            .about__carrousel
                .row.wow.fadeInUp.container
                    .large-12.columns
                        .owl-carousel.owl-carousel1.owl-theme.owl-loaded.owl-drag
                            .owl-stage-outer
                                .owl-stage
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-1.jpg", alt="Lanyard")
                                            //
                                                h4 Primer modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-4.jpg", alt="Lanyard")
                                            //
                                                h4 Segundo modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-3.jpg", alt="Lanyard")
                                            //
                                                h4 Tercer modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-2.jpg", alt="Lanyard")
                                            //
                                                h4 Cuarto modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-5.jpg", alt="Lanyard")
                                            //
                                                h4 Quinto modelo
                                                p.description Lorem ipsum dolor sit amet.

    //-- P R O D U C T
    //--------------
    .product#product
        .product__container.container
            .product__header
                h2.product__title Creamos un excelente empaque
                p.description Diferenciate de tu competencia, dale valor a tu marca como las grandes empresas, transmite prestigio y calidad mediante productos que acompañen a tu cliente durante el día a día.
                +button(
                    'first-color',
                    '#contact',
                    'Contáctanos'
                )
            
            .product__img
                .row.wow.fadeInUp.container
                    .large-12.columns
                        .owl-carousel.owl-carousel2.owl-theme.owl-loaded.owl-drag
                            .owl-stage-outer
                                .owl-stage
                                    .owl-item
                                        .item
                                            img(src="public/img/bolsa/product-1.png", alt="img-1")
                                    .owl-item
                                        .item
                                            img(src="public/img/bolsa/product-1.png", alt="img-1")
                                    .owl-item
                                        .item
                                            img(src="public/img/bolsa/product-1.png", alt="img-1")

    //-- C O N T A C T
    //--------------
    .contact#contact
        .contact__container.container
            .contact__main
                .contact__header
                    h2.contact__title Contáctanos
                    p.description Comienza a llevar a tu marcal al siguiente nivel
                form.contact__form
                    input(type='text' name='nombre' placeholder='Nombre y Apellido')
                    input(type='email' name='nombre' placeholder='Correo Electrónico')
                    input(type='text' name='nombre' placeholder='Celular')
                    textarea(placeholder='Cuéntanos tu consulta')
                    +button(
                        'first-color',
                        'index.html',
                        'Contáctanos'
                    )

prepend script-final
    //-- OWL CAROUSEL JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
    script.
       $('.owl-carousel2').owlCarousel({
           loop:true,
           margin:10,
           autoplay: true,
           nav: false,
           responsiveClass:true,
           responsive:{
                0:{
                items:1
                }
            }
        })

    script.
       $('.owl-carousel1').owlCarousel({
           loop:true,
           margin:10,
           autoplay: true,
           nav: false,
           responsiveClass:true,
           responsive:{
           0:{
           items:1
           },
           600:{
           items:2
           },
           900:{
           items:3
           }
            }
        })

   
